.warning{
    background-color: rgba(255, 217, 0, 0.5);
    width: fit-content;
    position: relative;
    height: 5dvh;
    border: rgba(255, 0, 0, .5) solid 1px;
    margin: auto;
    border-radius: 20px;
    padding: 2dvh 0.5dvw;
    padding-bottom: 5dvh;
    bottom: 5dvh;
}
.warning p{
    font-size: 1.75dvh;
}